@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-primary;
}

.smooth-transition {
  transition: all 0.3s ease-in-out;
}

.gridDisplay{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem ;
  
}